.game {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
}

.square {
    display: flex;
    width: 49px;
    height: 49px;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}