<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <!-- <h1>User Profile</h1>
    <h2>Name: <%= user.name %></h2>
    <h3>Username: <%= user.username %></h3>
    <h4>Signup time: <%= new Date(user.signupTime).toLocaleString() %></h4>
    <a href="/logout">Logout</a> -->

    <h1>User Profile</h1>
    <h2>Name: {{user.name}}</h2>
    <h3>Username: {{user.username}}</h3>
    <h4>Signup time: {{formatDate user.signupTime}}</h4>
    <a href="/logout">Logout</a>
</body>
</html>